
*{
  margin:0;
  padding:0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}


header{
  height:100%;
  background:#000;
}

header > nav{
  background:#000;
}

.brand-logo img{
  width:21%;
}


#particles-js{
  position: absolute;
  z-index: 1;
  height: 75vh;
  width:100%;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 45px;
  padding: 5px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.cross {

  position: absolute;
  top: 0px;
  right: 0;
  padding: 7px 15px 0px 15px;
  color: #fff;
  border: 0;
  font-size: 4em;
  line-height: 65px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

nav.scroll, nav.mobile{
  position:fixed;
  width:100%;
  z-index: 2;
  top:0;
}


div.imagenPortada{
  width: 100%;
  height: 90vh;
  position: relative;
}

div.portadaMobile img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


div.in{
  position:absolute;
  top:20%;
  right:2%;
  width:30%;
  font-size: 2rem;
}


div.imagenPortada h1{
  position:absolute;
  bottom:50%;
  left: calc(50% - 295.11px);
  font-size: 4.5rem;
  font-weight: bold;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color:black;
}

div.imagenPortada h4{
  position:absolute;
  bottom:40%;
  font-size: 2.5rem;
  left: calc(50% - 200.71px);
  font-weight: bold;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color:black;
}

div.imagenPortada a{
  position:absolute;
  bottom:10%;
  left:calc(50% - 74.335px);;
}

#comenzar:hover{
  background-color: rgba(255,255,255,1) !important;
  color:purple;
  font-weight: 900;
  font-size:1em;
  font-family:'Roboto Slab', serif;
  border:2px solid purple;
}


.portada{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  transition:all .8s ease-in-out;
}


nav.scroll img{
  width: 6.3%
}

nav.mobile img{
  width:19%;
  position:relative;
}

.menu {
  position:absolute;
  width:100%;
  z-index: 2;
  top:0;
 }


.shadow {
  width: 100%;
  height: 103vh;
  background: rgba(0, 0, 0, 0.5); }

.menu1 {
  z-index: 1;
  font-weight: bold;
  font-size: 0.8em;
  width: 50%;
  height: 103vh;
  position: absolute;
  text-align: center;
  font-size: 12px;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu1 li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  float: none;
 }
.menu1 li:hover {
  display: block;
  background: #fff;
  padding: 15px 0 15px 0;
  border-bottom: #dddddd 1px solid;
  color: #21b2a6;
 }
.menu1 li a {
  text-decoration: none;
  margin: 0px;
  color: #666;
}
.menu1 li a:hover {
  color: #666;
  text-decoration: none;
}
.menu1 a {
  text-decoration: none;
  color: #666;
}
.menu1 a:hover {
  text-decoration: none;
  color: #666;
 }

.menu1 a .pad {
  margin-top: 6rem; }


section#about {
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
}

/*redes*/

div.social{
  position:fixed;
  top: 50%;
  right: 2%;
  cursor: pointer;
  z-index:2;
}

div.social ul li a{
  display:inline-block;
  color:white;
}


div#sobremi p{
  font-size:1.5rem;
}

p{
  font-family: 'Lato', sans-serif;
}

.box{
  min-height:500px;
}

.box ul{
  font-size: 1.5rem;
}

.box .iconC{
  margin-top: 15px;
  font-size:5rem;
}

/*Conocimientos*/

div.badges img{
  cursor:pointer;
}

section#portafolio {
  background-color: rgba(0, 0, 0, 0.5);
  height:100%;
  position:relative;
}

div.relat{
  position:relative;
}

div.black{
  height: 61%;
  width: 61%;
  position: absolute;
  top: 8.3%;
  right: 21%;
  border-radius: 1%;
}

/*carrusel*/

#slide{
  position:relative;
  margin:20px auto;
  width: 100%;
  overflow:hidden;
}

#slide ul{
  position:relative;
  margin:auto;
  height: auto;
  width:500%;
}

#slide ul li{
  float:left;
  width:20%;
}

#slide ul li img{
  width:100%;
}

#slide ul li .caption{
  display:none;
}

#indicator{
  display:none;
}

#indicator li{
  display:inline-block;
  margin:0 5px;
  cursor:pointer;
  opacity:.5;
  color:black;
  text-shadow:0px 0px 5px #333;
}

#indicator li:first-child{
  opacity:1;
}

#left{
  position:absolute;
  top: 50%;
  left: -42%;
  font-size: 3em;
  color: rgb(0, 0, 0);
  cursor:pointer;
}

#right{
  position:absolute;
  top: 50%;
  right: -46.5%;
  font-size: 3em;
  color: rgb(0, 0, 0);
  cursor:pointer;
}

/*flip*/

.tarjeta-wrap{
  -webkit-perspective:800;
  perspective: 800;
}

.tarjeta{
  width:100%;
  height:280px;
  position:relative;
  transform-style: preserve-3d;
  transition: .7s ease;
  margin-bottom: 10px;
}

.front, .back{
  width:100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility:hidden;
}

.back{
  transform:rotateY(180deg);
  display:flex;
  justify-content: center;
  align-items: center;
}

div.back p{
  margin:15px;
  font-size:1.2em;
}

.tarjeta-wrap:hover .tarjeta{
  transform: rotateY(180deg);
}

/*post it*/

.quote-container {
  margin-top: 50px;
  position: relative;
}

.note {
  color: #333;
  position: relative;
  min-width: 300px;
  width:100%;
  margin: 0 auto;
  padding: 20px;
  font-size: 21px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
  font-family: 'Satisfy', cursive;
}

.acent {
  background: #ff80ab;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}


input[type="text"].validar, input[type="email"].validar{
border-bottom: 2px solid red;
margin-bottom: 0;
}

input[type="email"]#email.validarC{
border-bottom: 2px solid red;
margin-bottom: 0;
}

.spanI{
  display:none;
}

footer.black{
  position:absolute;
  width:100%;
  height: 10vh;
}

footer.black p{
  margin-top: 20px;
}

@media (min-width:768px){
  #slide{
    position:relative;
    margin:6px auto;
    width: 97%;
    overflow:hidden;
  }

  #slide ul{
    position:relative;
    margin:auto;
    height: auto;
    width:500%;
  }

  #slide ul li{
    float:left;
    width:20%;
  }

  #slide ul li img{
    width:100%;
  }


  #indicator{
    display:block;
    position:relative;
    width:100%;
    margin:auto;
    height: 10px;
    text-align: center;
    top:-40px;
  }

  #indicator li{
    display:inline-block;
    margin:0 5px;
    cursor:pointer;
    opacity:.5;
    color:black;
    text-shadow:0px 0px 5px #333;
  }

  #indicator li:first-child{
    opacity:1;
  }
}


@media (max-width: 768px){
  div.info{
    left:2%;
  }
  div.info h1{
    font-size:2rem;
  }
  section#about{
    height:100%;
  }
}



@media (max-width: 480px){
  /*div.info{
    left:57%;
  }
  div.info h4{
    font-size:1.2rem;
  }*/

  .menu1{
    height: 95vh;
  }

  .hamburger{
    right: 15px;
  }
  .cross{
    right: 15px;
  }
  h2{
    font-size: 2.56rem;
  }

  #slide{
    margin:0;
  }

  section#about{

    height:100%;
  }

  .note{
    min-width: 0;
    font-size:18px;
  }

  #left{
    left: -30%;
  }

  #right{
    right: -34.5%;
  }

  div.imagenPortada h1{
    bottom:6%;
    left:calc(50% - 126.71px);
    font-size: 2rem;
  }

  div.imagenPortada h5{
    position:absolute;
    bottom:3%;
    left:calc(50% - 126.71px);
    font-size: 1.2rem;
  }

  div.back p{
    font-size:1em;
  }
}
